/* page3.css */
/* This css remains the same for pages: 3,4,5 */

/* Global Styles */
.text-main {
  color: #d32f2f;
}
p {
  
  margin-bottom: 0rem;
}


.body,
header,
footer {
  font-family: "Noto Sans JP", sans-serif;
  color: #2c3237;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* Components Styles */
/* Card */
.red-card {
  background-color: #d32f2f;
  color: white;
  border-radius: 5px;
  border: 1px solid #d32f2f;
  padding: 0.5rem 1rem;
}

.red-border {
  border-radius: 5px;
  border: 1px solid #d32f2f;
}
/* Header Buttons */

.btn-online {
  background-color: #c62828;
  color: white;
  border: none;
  /* padding: 10px 15px; */
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-online:hover {
  background-color: #b71c1c;
}

.btn-menu {
  background-color: white;
  color: #c62828;
  border: 1px solid #c62828;
  padding: 0px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  height: 36px;

  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-menu:active {
  background-color: white;
  color: #c62828;
  border: 1px solid #c62828;
}

/* Header Card */
.header-card {
  background-color: #fff2f2;
  border: 1px solid #d32f2f;
  border-radius: 5px;
  
  padding: 0.5rem 1rem;
}

.header-line {
  border: 0.1px solid #2c3237;
  margin-top: 10px;
}


.btn-prim {
  background-color: #d32f2f;
  color: white;
  width: 100%;
  height: 52px;
  border: none;
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 24px 0px #0000001f;
  border-radius: 4px;
  margin-top: 10px;
  white-space: nowrap;
  text-align: center;
}

.btn-prim-white{
  background-color: white;
  color: #d32f2f;
  width: 100%;
  height: 52px;
  border: 1px solid #d32f2f;
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 10px;
  white-space: nowrap;
  text-align: center;
}

/* Red Circle */
.red-circle {
  background-color: #D32F2F;
  color: white;
  
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  box-shadow: 0px 0px 0px 4px #D32F2F;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Footer. */
.footer-box {
  background-color: #fff2f2;
  padding: 15px 16px;
}

.footer-links {
  text-align: center;
  padding: 30px 10px 11px 10px;
  font-size: 12px;
  color: #ff7474;
}

.footer-links a {
  text-decoration: none;
  margin: 0;
  color: #ff7474;
  line-height: 24px;
  font-size: 12px;
  font-weight: 700;
}
.copyright {
  text-align: center;
  color: #000000;
  line-height: 125%;
  font-size: 10px;
  font-weight: 400;
  padding-bottom: 15px;
  padding-top: 11px;
}

.step-card{

    background-color: #FFF2F2;
}




/* Media Query */
@media (min-width: 768px) {
  .btn-prim, .btn-prim-white {
    max-width: 323px;
  }

}


@media (min-width: 992px) {
  .fs-lg-1 {
    font-size: 3.25rem !important;
  }
  .fs-lg-2 {
    font-size: 2.5rem !important;
  }

  .fs-lg-3 {
    font-size: 1.5rem !important;
  }

  .step-card {
    max-height: 224px;
  }
  
  .step-6-card {
    max-height: 224px;
  }
  .colored-header {
    width: 323px;
  }

  .hero-circle {
    width: 109px !important;
    height: 109px !important;
  }
}