/* page1.css */

/* Global Styles */
.text-main {
  color: #d32f2f;
}

.body,
header,
footer {
  font-family: "Noto Sans JP", sans-serif;
  color: #2c3237;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* Components Styles */
/* Card */
.red-card {
  background-color: #d32f2f;
  color: white;
  border-radius: 5px;
  border: 1px solid #d32f2f;
}

.red-border {
  border-radius: 5px;
  border: 1px solid #d32f2f;
}
/* Header Buttons */

.btn-online {
  background-color: #c62828;
  color: white;
  border: none;
  /* padding: 10px 15px; */
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-online:hover {
  background-color: #b71c1c;
}

.btn-menu {
  background-color: white;
  color: #c62828;
  border: 1px solid #c62828;
  padding: 0px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  height: 36px;

  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-menu:active {
  background-color: white;
  color: #c62828;
  border: 1px solid #c62828;
}

/* Header Card */
.header-card {
  background-color: #fff2f2;
  border: 1px solid #d32f2f;
  border-radius: 5px;
}

.header-line {
  border: 0.1px solid #2c3237;
  margin-top: 10px;
}

.black-border {
  border: 1px solid black;
  border-radius: 5px;
}

/* Step info */
.step-item {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.step-line {
  width: 100%;
  border: 1px solid #a8a3a3de;
  flex-grow: 1;
  margin: auto 10px;
}

.step-item.current .step-line {
  border: 1px solid #d32f2f;
}

.step-item.current {
  color: #d32f2f;
  font-weight: 700;
}

/* Form Styles */
.input-line {
  border: 1px solid #666666;
  margin-top: -1px;
}
.form-control:focus {
  border: none;
  box-shadow: none;
}

.form-text {
  font-size: 12px;
  color: #666666;
  line-height: 16px;
}

.btn-prim {
  background-color: #d32f2f;
  color: white;
  width: 100%;
  height: 52px;
  border: none;
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 24px 0px #0000001f;
  border-radius: 4px;
  margin-top: 10px;
  white-space: nowrap;
  text-align: center;
}

/*Side bar */
.sidebar {
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--dark, #2c3237);
}

.sidebar .sidebar-header {
  background-color: #2c3237;
  color: white;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  padding: 7px 10px;
  text-align: center;
  /* border-top-left-radius: 5px;
                border-top-right-radius: 5px; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar .sidebar-text-area {
  padding: 10px;
}

.sidebar p {
  color: #000000de;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* Footer. */
.footer-box {
  background-color: #fff2f2;
  padding: 15px 16px;
}

.footer-links {
  text-align: center;
  padding: 30px 10px 11px 10px;
  font-size: 12px;
  color: #ff7474;
}

.footer-links a {
  text-decoration: none;
  margin: 0;
  color: #ff7474;
  line-height: 24px;
  font-size: 12px;
  font-weight: 700;
}
.copyright {
  text-align: center;
  color: #000000;
  line-height: 125%;
  font-size: 10px;
  font-weight: 400;
  padding-bottom: 15px;
  padding-top: 11px;
}

/* Media Query */
@media (min-width: 768px) {
  .btn-prim {
    max-width: 323px;
  }
}
